<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Car</title>


<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>

<script src="js/stuff.js"></script>
<script src="xml/response.xml"></script>
<link href="ccs/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript"
	src="https://raw.githubusercontent.com/abdmob/x2js/master/xml2json.min.js"
	charset="ISO-8859-1"></script>

<script src="js/xml2json.js"></script>


</head>
<body data-ng-app="CarApp" data-ng-controller="getCar">


	<h1>Create your car</h1>

	<Table>
		<!-- Name -->
		<tr>
			<td><label>Enter name of the car:</label></td>
			<td><input type="text" name="input" data-ng-model="name">
			</td>
		</tr>

		<!-- Color -->
		<tr>
			<td><label>Select Color of the car: </label></td>
			<td><select name="singleSelect" data-ng-model="data.color">
					<option value="option-1">Pink</option>
					<option value="option-2">Black</option>
					<option value="option-2">Brown</option>
					<option value="option-2">White</option>
					<option value="option-2">Gray</option>
					<option value="option-2">Blue</option>
					<option value="option-2">Red</option>
					<option value="option-2">Yellow</option>
			</select></td>
		</tr>

		<!-- FuelAmount -->
		<tr>
			<td><label>Enter fuel amount of the car: </label></td>
			<td><input type="text" name="input" data-ng-model="fuelamount">
		</tr>

		<!-- CarType -->
		<tr>
			<td><label>Enter car type:</label></td>
			<td><input type="text" name="input" data-ng-model="cartype"></td>
		</tr>
	</Table>


	<button data-ng-click="showme=true">Create Car</button>
	<p data-ng-show="showme" data-ng-repeat="car in createCar">{{car.respMsg}}</p>



	<h1>Car List</h1>

	<input type="text" data-ng-model="search" class="search-query"
		placeholder="Search">
	<div data-ng-show="search.length>=2">

		<Table border=1 data-ng-repeat="car in getCar | filter:search">
			<tr>
				<td>{{car.name}}</td>
				<td>{{car.color}}</td>
				<td>{{car.fuelAmount}}</td>
				<td>{{car.carType}}</td>
			</tr>

		</Table>

	</div>


<!-- 
		<Table border=1 data-ng-repeat="car in carDetails">
			<tr>
				<td>{{car.name}}</td>
				<td>{{car.color}}</td>
				<td>{{car.fuelAmount}}</td>
				<td>{{car.carType}}</td>
			</tr>

		</Table>
 -->


</body>
</html>